@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark,
		retro,
		luxury;
}
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--animate-cd-spin: cd-spin 10s linear infinite;
	--animate-marquee: marquee 8s linear infinite;
	--font-digital: 'VT323', monospace;

	@keyframes cd-spin {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}

	@keyframes marquee {
		from {
			transform: translateX(100cqw);
		}

		to {
			transform: translateX(-100%);
		}
	}
}
